set OMAHA_BASE_URL=https://updates.google.com
set OMAHA_MAIN_COMPANY_WEBSITE=http://www.google.com
set OMAHA_PLUGIN_DOMAIN=updates.google.com
set OMAHA_UPDATE_CHECK_URL=%OMAHA_BASE_URL%/service/update2
set OMAHA_PING_URL=%OMAHA_BASE_URL%/service/update2
set OMAHA_CRASH_REPORT_URL=%OMAHA_BASE_URL%/cr/report
set OMAHA_MORE_INFO_URL=http://www.google.com/updates
set OMAHA_CODE_RED_CHECK_URL=%OMAHA_BASE_URL%/service/check2
set OMAHA_USAGE_STATS_REPORT_URL=%OMAHA_BASE_URL%/tbproxy/usagestats
